* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}


 /* HOME PAGE STYLING */
body {
  width: 100%;
  line-height: 1.4;

}

p {
  margin:1.5vw 0;
  color: #465b52;
  font-size: 1.2vw;
 
}
h4{
  font-size: 1.3vw;
}
h2{
  font-size: 1.9vw;
}
a{
  text-decoration: none;
  color:#1a1a1a;
}

ul {
  list-style: none;
}


#header {
  background-color: #E3E6F3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 5vw;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.05);
  position: fixed;
  width: 100%;
  z-index: 100;
}

#header img {
  width: 12vw;
}

#nav-bar-ul {
  display: flex;
  gap: 2.5vw;
  font-size: 1.3vw;

}

#nav-bar-ul li {
  position: relative;
}

#nav-bar-ul a {
  font-weight: 600;
  color: #1a1a1a;
  text-decoration: none;
  transition: 0.15s;
}

.menu-bar{
  display: none;
}
 .menu-bar i{
  color: #1a1a1a;
 }

 #nav-bar-ul .cross{
  display: none;
 }


#nav-bar-ul li a:hover,
#nav-bar-ul li a.active {
  color: #088178;
}

#nav-bar-ul li a.active::after,
#nav-bar-ul li a:hover::after {
  content: "";
  width: 55%;
  height: 0.2vw;
  background-color: #088178;
  position: absolute;
  bottom: -4px;
  right: 1.8vw;
}

.hero-section {
  background-image: url(images/hero4.png);
  min-height: calc(100vh - 12vh);
  width: 100%;
  background-size: cover;
  background-position: top 0 right 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 5vw;

}

.hero-section h2,
.hero-section h1 {
  font-size: 4vw;
}

.hero-section h1 {
  color: #088178;
}

.hero-section h2 {
  color: #1a1a1a;
}

.hero-section h4 {
  color: #1a1a1a;
  padding-bottom: 1vw;
}

.hero-section button {
  background-image: url(images/button.png);
  background-size: cover;
  border: none;
  padding: 1vw 5vw;
  background-color: transparent;
  color: #088178;
  font-weight: 600;
  cursor: pointer;
}

.feature-cards {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 3vw;
  margin-bottom: 5vw;
  padding: 0 5vw;
  gap: 2vw;
}

.feature-cards .card {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw 0.5vw;
  gap: 1.5vw;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.10);
  border: 1px solid #E3E6F3;
  border-radius: 5px;
  transition: ease-in-out 0.15s;

}

.feature-cards .card:hover {
  transform: scale(1.08);
  box-shadow: 0px 5px 55px rgba(0, 0, 0, 0.10);
}

.feature-cards .card h6 {
  background-color: #fddde4;
  padding: 0.5vw 1.2vw;
  border-radius: 5px;
  color: #088178;
}

.feature-cards .card:nth-child(2) h6 {
  background-color: #cdebbc
}

.feature-cards .card:nth-child(3) h6 {
  background-color: #d1e8f2;
}

.feature-cards .card:nth-child(4) h6 {
  background-color: #cdd4f8;
}

.feature-cards .card:nth-child(5) h6 {
  background-color: #f6dbf6;
}

.feature-cards .card:nth-child(6) h6 {
  background-color: #fff2e5;
}
.featured-products{
  margin-top: 5vw;
}
.featured-products-cards {
  display: flex;
  gap: 1vw;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 4vw;
}

.featured-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-products h2 {
  font-size: 5vw;
  color: #1a1a1a;
}

.featured-products-cards .card {
  max-width: 20%;
  min-width: 200px;
  border: 1px solid #E3E6F3;
  border-radius: 20px;
  margin-bottom: 2vw;
  padding: 1.5vw;
  padding-bottom: 1vw;
  cursor: pointer;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.05);
  transition: ease-in-out 0.15s;
  position: relative;
}

.featured-products-cards .card:hover {
  transform: scale(1.08);
  box-shadow: 0px 5px 55px rgba(0, 0, 0, 0.15);
}

.featured-products-cards img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 1vw;
}



.card .product-info p {
  color: #606063;
  font-size: 1vw;
  margin: 0;
}

.card .product-info h5 {
  padding-top: 0.6vw;
  color: #1a1a1a;

}

.card .product-info i {
  font-size: 1vw;
  color: rgb(255, 192, 33);
}

.card .product-info h4 {
  padding-top: 0.5vw;
  font-size: 1.2vw;
  font-weight: 700;
  color: #088178;
}

.cart-icon {
  width: 3vw;
  padding: 0.9vw;
  height: 3vw;
  font-weight: 500;
  border-radius: 50px;
  color: #088178;
  background-color: #e8f6ea;
  position: absolute;
  bottom: 20px;
  right: 10px;
  font-size: 1.2vw;
}

.call-to-action{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(images/banner/b2.jpg);
  background-size: cover;
  color: #E3E6F3;
  width: 100%;
  gap: 2vw;
  height: 20vw;
  background-position: center;
  margin: 5vw 0;
}

.call-to-action span{
  color: #ef363e;
}

.call-to-action button{
  font-size: 1.1vw;
  padding: 1vw 1.5vw;
  font-weight: 600;
  background-color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: ease 0.15s;
}

.call-to-action button:hover{
  background-color: #088178;
  color: white;
}

.call-to-action-banners{
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  padding: 0 5vw;
  justify-content: space-between;
}
.call-to-action-banners .banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2vw;
  background-image: url(images/banner/b17.jpg);
  min-width: 43vw;
  min-height: 48vh;
  background-size: cover;
  background-position: center;
  color: white;
  line-height: 2;}


  .call-to-action-banners .banner p{
    color: #ffffff;
    margin: 0;
  }
  
.call-to-action-banners .banner button{
  margin-top: 2vw;
  padding: 0.6vw 1vw;
  color: white;
  background-color: transparent;
  border: 2px solid #ffffff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.15s;
}

.call-to-action-banners .banner button:hover{
background-color: #088178;
border: 2px solid #088178;
}

.call-to-action-banners .banner:nth-child(2){
  background-image: url(images/banner/b10.jpg);
}

.text-banner-section{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vw 5vw;
  row-gap: 2vw;
  
}

.text-banner-section .text-banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(images/banner/b7.jpg);
  background-size: cover;
  background-position: center;
  min-width: 30%;
  min-height: 25vh;
  padding: 1vw;
  color: white;
  line-height: 2;}

.text-banner span{
  color: rgb(255, 4, 4);
}


.text-banner h3{
  font-weight: 800;
}

.text-banner-section .text-banner:nth-child(2){
  background-image: url(images/banner/b4.jpg);
}
.text-banner-section .text-banner:nth-child(3){
  background-image: url(images/banner/b18.jpg);
}

.news-letter{
  background-color: #082047;
  display: flex;
  justify-content: space-between;
  padding: 4vw 5vw;
  background-image: url(images/banner/b14.png);
  background-size: cover;
  background-position: 20% 30%;
  color: #ffffff;
}
.news-letter span{
  color: #f3bc56;
}
.news-letter .text-info{
  line-height: 1.8;
}

.news-letter .input {
  min-width: 35%;
  display: flex;
}

.news-letter .input input{
  width: 70%;
  height: 3vw;
  outline: none;
  border: none;
  padding: 1vw;
  font-size: 1vw;
}

.news-letter .input button{
  height: 3vw;
  padding: 0 1.5vw;
 
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #ffffff;
  background-color: #088178;
  font-weight: 600;
  font-size: 1vw;
  white-space: nowrap;
}

.footer-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3vw 5vw;
  align-items: center;
}
.logo{
  width: 12vw;
}
.column{
  max-width: 30%;
  gap: 1vw;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  
}
.column p{
  margin: 0;
}
 .footer-container a{
  text-decoration: none;
  color: #606063;
  transition: ease-in 0.15s;
 }

 .install-app h4{
margin-bottom: 0.8vw;
transition: ease-in 0.15s;
cursor: pointer;
 }
 .footer-container .social-media-icons{
  margin-top: 1vw;
 }

 .footer-container .social-media-icons i{
  padding-right:0.5vw ;
  transition: ease-in .15s;
  cursor: pointer;
 }

 .footer-container .social-media-icons i:hover{
  color: #088178;
 }

 .footer-container .column a:hover{
  transform: scale(1.2);
  color: brown;
  font-weight: 500;
 }

 .install-app p:hover{
  transform: scale(1.2);
  color: brown;
  font-weight: 500;
 }

 @media (max-width:600px) {

  #nav-bar-ul{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right:-300px;
    min-height: 100vh;
    background-color:#E3E6F3;
    min-width: 30vw;
    padding: 5vw;
    font-size: 2vw;
    box-shadow: 0 2px 15px rgba(0,0,0,0.15);
    transition: ease-in-out 0.5s;

  }

  .menu-bar{
    display: flex;
    align-items: center;
    gap: 2vw;
    
   }
   #nav-bar-ul .cross{
    display: block;
   }
   
 }


 /* SHOP PAGE STYLING */

.shop-hero-section{
  display: flex;
  flex-direction: column;
 
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(images/banner/b1.jpg);
  height: 25vw;
  padding-top: 5vw;
  background-size: cover;
}

.shop-hero-section h2,
.shop-hero-section p{
  color: #ffffff;
}

.pagination{
  text-align: center;
  padding: 5vw;
}

.pagination a{
  background-color: #088178;
  padding: 0.6vw 1.2vw;
  color: white;
  border-radius: 4px;
  font-weight: 600;
}
/* SINGLE PRODUCT PAGE STYLLING */
.product-details{
padding-top: 10vw;
display: flex;
}

.product-details .single-product-image{
  width: 40%;
  padding: 0 5vw;
  position: relative;
  overflow: hidden;
}

.main-image{
 
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.main-image:hover{
  cursor: zoom-in;
  transform: scale(1.8);
}
.alt-images{
  display: flex;
  justify-content: space-between;
  gap: 1vw;
  cursor: pointer;
}

.product-details .single-product-details{
  width: 50%;
  display: flex;
  flex-direction: column;align-items: flex-start;
  justify-content: center;
  gap:1vw;

}

.product-details .single-product-details select{
  padding: 0.6vw;
}

.product-details .single-product-details input{
width: 3vw;
height: 2.4vw;
padding: 0.5vw;
}
.product-details .single-product-details input:focus{
  outline: none;
}
.product-details .single-product-details button{
  font-size: 0.8vw;
  padding: 0.8vw 1.2vw;
  font-weight: 600;
  background-color:#088178;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: ease 0.15s;
}

.product-details .single-product-details .buy-now{
  font-size: 0.8vw;
  padding: 0.8vw 1.2vw;
  font-weight: 600;
  background-color:#cdebbc;
  color: #000000;
  border: none;
  cursor: pointer;
  transition: ease 0.15s;
}

.product-details .single-product-details p{
  line-height:1.6;
}

/* CART PAGE STYLLING */

.cart table{
margin-top: 5vw;

width: 100%;
border-collapse:collapse;
table-layout:fixed;
white-space:nowrap;


}

.cart table img{
  width: 5vw ;
  padding-top: 2vw;
}

.cart table td{
  text-align: center;
}

.check-out{
  display: flex;
  justify-content: space-between;
  padding: 5vw;
}

.check-out input{
  width: 70%;
  height: 3vw;
  
  border: none;
  padding: 1vw;
  font-size: 1vw;
}

.check-out button{
  font-size: 0.8vw;
  padding: 0.8vw 1.2vw;
  font-weight: 600;
  background-color:#cdebbc;
  color: #000000;
  
  cursor: pointer;
  transition: ease 0.15s;
}

.grand-total{
  display: flex;
  gap: 4vw;
  justify-content: center;
  align-items: center;
}